name: Go SDK Release

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      # 拉代码
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # ---------- Go 环境 ----------
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          cache: true

      - name: Go mod tidy
        run: go mod tidy

      - name: Go build
        run: go build ./...

      # ---------- Node 环境 ----------
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # ---------- Semantic Release ----------
      - name: Run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
